Vérification des données
Import des librairies pandas, scikit-learn (module DecisionTreeRegressor)

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

train = pd.read_csv('data/train.csv')

train.describe()
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Sélection d'une donnée à modéliser
=> Colonne "Survived"

In [2]:
# Affichage des colonnes
train.columns
# Nettoyage des données manquantes
train = train.dropna(axis=0)
# Création d'une variable qui cible les données à analyser ('Survived')
y = train.Survived

Création d'un DataFrame (X) des données qui serviront à la prédiction
=> Pour ce premier test, je sélectionne les colonnes (features) 'Pclass', 'Sex', 'Age' et les stocke dans une variable 'train_features'
=> Création de la variable X contenant les features du DataFrame 'train'

Conversion des données str en données numérique (int)
=> L'arbre de décision traite uniquement des données numériques
=> Utilisation d'un module sklearn (LabelEncoder) pour convertir les données de
la colonne 'Sex'
Après conversion, les valeur 'Male' = 0 et 'Female' = 1

In [5]:
# Import du module LabelEncoder pour convertir la colonne 'Sex' en valeur numérique

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train['Sex'] = le.fit_transform(train['Sex'])

# Sélection des features
train_features = ['Pclass', 'Sex', 'Age']
#  Stockage dans la variable X
X = train[train_features]
# Verification des données
X.describe()
X.head()

    Pclass  Sex   Age
1        1    0  38.0
3        1    0  35.0
6        1    1  54.0
10       3    0   4.0
11       1    0  58.0

Utilisation d'un arbre de décision (DecisionTreeRegressor)
Stockage dans une variable (train_model)

In [4]:
# Définition du modèle 
train_model = DecisionTreeRegressor(random_state=1)

train_model.fit(X, y)
# Print de la prédiction
print(X.head())
print(train_model.predict(X.head()))

    Pclass  Sex   Age
1        1    0  38.0
3        1    0  35.0
6        1    1  54.0
10       3    0   4.0
11       1    0  58.0
[1. 1. 0. 1. 1.]